body
{
    background-color: bisque;
}
#d1
{
    margin:40px;
    border:1px solid black;
    padding:10px;
}
#d2
{
    padding:10px;
}
#d3
{
    padding:10px;
}
#d4
{
    padding:10px;
    h1{padding-bottom: 7px;}
    a{padding: 25px;border:2px solid black;font-size: 30px;text-decoration: none;color:blueviolet}
}